{% extends "base.twig" %}

{% block content %}

	<div id="home" class="small-12 hero">
		{% for item in post.get_field('hero_image') %}
		<div style="background: url('{{item.image}}') no-repeat center center; background-size: cover;">
		  <div class="hero_content small-12 small-centered columns">
		  </div>
		</div>
		{% endfor %}
		<article>
			<h3>{{post.title}}</h3>
				<p>{{post.content}}</p>
		</article>
	</div>


	{% if post.get_field('video_embed') %}
	<div class="project row">
		<div class="copyblock">
			<div class="columns small-12">
				<div class="columns small-12">
					<div class="video">
						{{ post.get_field('video_embed') }}
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	{% endif %}

	<div class="project row centered">
		{% if post.get_field('gallery') %}
		<div id="gallery">
				{% for item in post.get_field('gallery') %}
					<a class="fancybox" rel="group" href="{{ item.image }}"><img src="{{ item.image }}" /></a>
				{% endfor %}
		</div>
		{% endif %}
	</div>
	<div class="halfImg">

			<div class="pagination">
			{% if post.prev %}
				<a href="{{post.prev.link}}">	
					<div class="next">
						<h3>{{post.prev.title}}</h3>
					</div>
				</a>
			{% endif %}

			{% if post.next %}
			<a href="{{post.next.link}}">
				<div class="prev">
					<h3>{{post.next.title}}</h3>
				</div>
			</a>
			{% endif %}
			</div>
			<div class="clear"></div>
	</div>
{% endblock %}
